@import '~antd/dist/antd.css';

.App {
  display: flex;
  justify-content: center;
}

.Hive {
  margin: 24px 0;
  max-width: 1000px;
  width: 80%;
}
.code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.compressed-str {
  word-break: break-all;
}
